.btn-submit-sign {
    background: rgb(0, 164, 255);
    background: linear-gradient(62deg, rgb(0, 195, 255) 0%, rgb(106, 96, 255) 100%);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: bold;
    &:hover {
        opacity: 0.8;
    }
}
.btn-disabled {
    opacity: 0.5;
}
.sign-in_up {
    min-height: 520px;
}
