.pagination-container {
    display: flex;
    list-style-type: none;
    padding: 15px 5px;
    border-radius: 10px;
    margin-top: 10px;
    .pagination-item {
        background-color: #fff;
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01071em;
        border-radius: 50px;
        line-height: 1.43;
        font-size: 20px;
        width: 40px;
        height: 40px;
        border: 1px solid rgb(225, 225, 225);

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }
        &:hover {
            background-color: rgb(241, 239, 239);
            cursor: pointer;
        }

        &.selected {
            background-color: rgb(241, 232, 232);
        }

        .arrow {
            &::before {
                position: relative;
                display: inline-block;
            }

            &.left::before {
                content: '<';
            }

            &.right::before {
                content: '>';
            }
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                color: rgba(0, 0, 0, 0.651);
                // border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                // border-top: 0.12em solid rgba(0, 0, 0, 0.43);
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}
